body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1, h2 {
  color: #333;
}


/* Q 1 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: #333;
}

div {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
